# app/views/customers/show.html.erb
<p id="notice"><%= notice %></p>

<div class="customer-profile">
  <h1><%= @customer.name %></h1>

  <div class="customer-details">
    <p>
      <strong>Email:</strong>
      <%= @customer.email %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @customer.address %>
    </p>

    <p>
      <strong>Country:</strong>
      <% if @customer.country.present? %>
        <span class="country">
          <% if @customer.country.flag_url.present? %>
            <%= image_tag @customer.country.flag_url, alt: @customer.country.name, class: 'flag-icon' %>
          <% end %>
          <%= @customer.country.name %>
        </span>
      <% end %>
    </p>
  </div>
</div>
